/* Write your global styles here, in PostCSS syntax
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  /* Class is used for development purposes only */
  .dev {
    border: 1px solid red;
  }
}
