/.vs
.DS_Store
.Thumbs.db
*.sublime*
.idea/
debug.log
package-lock.json
.vscode/settings.json
yarn.lock

/target
Cargo.lock
node_modules/

pnpm-*
.pnpm*
test.db-shm
test.db-wal

**/dist
*.code-workspace
.do-devops.json