{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:vue3/recommended", "prettier"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "plugins": ["vue", "@typescript-eslint"],

  "env": {
    "browser": true,
    "es2017": true,
    "node": true
  }
}
